<!doctype html>
<head>
<title>Ecogagement | About</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<!-- <link href="stylesheet.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
	<body>
	<div>
		<a href="index.html">
	<img id="banner" src="images/ecogagementbanner2.png">
		</a>
	</div>		
<h1><img id="about" src="images/ecoabout.jpg"></h1>
<div id="aboutStory">
<p> Renee Newton has been designing and fabricating jewelry since 2004 (often under the name Powder Mill Studio), after completing the full time jewelry making program at Boston's renowned <a href id="nbss"="http://www.nbss.edu">North Bennet Street School</a>. She became known for using nature as an inspiration for her designs by casting budding branches in gold to make rings, using the texture of pine tree bark as inspiration for ring shanks and such. At the same time she followed current trends and styles, often using those examples to help create fabulous custom pieces for clients that loved the poplar designer styles but wanted to tweak and make them their own. Although her love for all things sparkly could not be diminished, her love for the environment and its preservation caused a conflict; the metal and gems that made up her beautiful pieces were helping to create a less beautiful world. And so she set out to reconcile her two passions through Ecogagement.</p>
	<p>With the ability to reuse and recycle precious metals and vintage stones, source gems in an ethical manor, as well as grow gorgeous lab created gems that rival natural stones in beauty and durability (as well as often exactly mimic the molecular make up of their natural counterparts) Renee realized that, through concious decisions, you could indeed have both gorgeous, expertly constructed fine jewelry and help preserve the world around us at the same time. If you share these sensibilities... welcome to Ecogagement.  </p>
</div>
<div id="PowderMill">
	<img class="powdermillpics" src="images/ecogoldgreensapp.jpg">
	<img class="powdermillpics" src="images/ecosterlinguartz.jpg">
	<img class="powdermillpics" src="images/PrincessSet.jpg">
	<img class="powdermillpics" src="images/EcoManBand.jpg">
	<p id="powdermillpicstext">Examples of nature inspired designs by Powder Mill Studio</p>
</div>










</body>

</html>