<!doctype html>
<head>
<title>Ecogagement | Contact</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<!-- <link href="stylesheet.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
	<div>
		<a href="index.html">
	<img id="banner" src="images/ecogagementbanner2.png">
		</a>
	</div>		
<h1><img id="con" src="images/ecocontact.jpg"></h1>
</body>
<p id="contact">
	Questions? Ideas? Want to Chat?<br>
	<i>hello@ecogagement.com</i><br>
	We look forward to working with you!
</p>


</html>