<!doctype html>
<head>
<title>Ecogagement | Testimonials</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<!-- <link href="stylesheet.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
	<div>
		<a href="index.html">
	<img id="banner" src="images/ecogagementbanner2.png">
		</a>
	</div>		
<h1 id="testimonials"><img src="images/ecotestimonials.jpg"></h1>
<p class="test">Working with Renee could not have been easier and I am 100% satisfied with the ring I purchased and I was very impressed with the customer service. Renee was very responsive and even checked in to see how things went with the ring weeks after I purchased it. I used the ring to propose to my girlfriend due to unforeseen circumstances with my original engagement ring and Renee was able to provide me with a replacement within just a few days. I have not seen too much nature related jewelry and I was really happy with the ring. My girlfriend loved it. Thanks so much Renee and I would strongly recommend Renee for individualized and prompt service. Not to mention great locally made jewelry.</p>

<p class="test">So lovely - I love the nature theme, the stone is gorgeous - I drooled over this ring for a very long time - so happy with my purchase, thanks</p>

<p class="test">I can not thank Renee enough for the effort she put forth in creating my fiance's engagement ring. I had a very close dead line and Renee was able to deliver on time. Thank you so much!</p>

<p class="test">Renee, you are a wonder! Chris and I still cannot believe how beautiful the two wedding bands you made for us are, what a perfect symbol of our true love. We really enjoyed working with you on these two pieces and cannot thank you enough. We will send you pictures soon, Greece here we come.... nM+C (aka Mac and Cheese)</p>

<p class="test">I couldn't be any more thrilled with my custom order! My ring is absolutely beautiful and so much better than I ever imagined it being! You have been so helpful and it was nice to be filled in on the progress of my order. I've only had the ring for a day and I have been getting numerous compliments already! Thank you for everything! I will definitely be a return customer!</p>

<p class="test">Unbelievably beautiful work--thank you, thank you, thank you!</p>

<p class="test">The rings I ordered are better than I could have imagined! We are now ordering the men's version for my fiancee. I would recommend this studio to anyone looking for something unique and beautiful.</p>
</body>



</html>
</body>



</html>